@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
  --light-text: #fff;
  --dark-text: #242424;
  --primary-color: #f00946;
  --background-color: #1c2237;
  --blue: #276afb;
  --green: #25ce4a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}